{% extends '_base.html' %}

{% block content %}
    <div class="p-5 bg-dark rounded-3 border">
        <ul>
            {% for dimension in dimension_list %}
                <li>{{ dimension.size }} mm</li>
            {% empty %}
                <li>Brak średnic</li>
            {% endfor %}

        </ul>
        <hr>
{#        <button hx-get="{% url 'dimension-create' %}" hx-target="#dialog">Dodaj średnicę</button>#}
        <a href="{% url 'dimension-create' %}">Dodaj</a>
    </div>
{% endblock %}