{% load static %}
<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Magazyn - skład konsygnacyjny</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'partials/navbar.html' %}
<div class="container py-4">
    {% block content %}
    {% endblock %}
</div>
{% include "toasts.html" %}
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/htmx.min.js' %}"></script>
<script src="{% static 'js/htmx-csrf.js' %}"></script>
<script src="{% static 'js/toasts.js' %}"></script>
</body>
</html>