{% for supply_item in supply_item_list %}

    <tr id="movie-{{ supply_item.pk }}" class="movie-row">
        <td>{{ supply_item.dimension }}</td>
        <td>{{ supply_item.grade }}</td>
        <td>{{ supply_item.grade }}</td>
        <td>{{ supply_item.heat }}</td>
        <td>{{ supply_item.certificate }}</td>
        <td>{{ supply_item.quantity }}</td>
        <td>
            <button class="btn btn-outline-primary btn-sm"
                    hx-get="{% url 'supply_item-edit' pk=supply_item.pk %}"
                    hx-target="#dialog">
                <i class="fa-solid fa-pen"></i>
            </button>
        </td>
    </tr>

{% endfor %}